.card-item {
    /* max-width: 800px; */
    margin: 1rem auto;
}

.card-title {
    font:  400 1.5rem Arial, Helvetica, sans-serif;
}

.card-title-details {
    font-style: italic;
    margin-top: 0.6rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container.footer {
    display: flex;
    justify-content: space-between;
}

.tag {
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 0 1rem;
    margin: 0 0.5rem;
}


.link-button {
    background-color: transparent;
    color: #0366d6;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}
.tag.poverty {
    background-color: #c0a1c0;
}
.tag.hunger {
    background-color: #e4d26c;
}
.tag.health {
    background-color: #24b46c;
}
.tag.gender {
    background-color: #c139d3;
}
.tag.water {
    background-color: steelblue;
}
.tag.energy {
    background-color: #1b37d8;
}
.tag.work {
    background-color: #eb675e;
}
.tag.innovation {
    background-color: #348667;
}
.tag.inequality {
    background-color: #e45d1e;
}
.tag.sustainability {
    background-color: #728616;
}
.tag.climate {
    background-color: #40a58f;
}
.tag.oceans {
    background-color: #174cc0;
}
.tag.earth {
    background-color: #7e3105;
}
.tag.justice {
    background-color: #161515;
}
.tag.partnership {
    background-color: #7913a1;
}