.active {
    /* background-color: rgba(0, 0,0,0.1);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #2b2b2b; */
}

.nav-link {
    margin-right: 30px;
}
