.form-frame {
    margin-top: 1rem;
}

h2 {
    text-align: center;
    padding: 1rem;
}

h6 {
    text-align: center;
    font-weight: bold;
}

textarea {
    resize: none;
}

.form-check label {
    margin: 0 1rem;
}
